.root {
    /* Soft Sky Blue */
    main-color: rgb(232, 244, 255);
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: #e0f7fa;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #4fc3f7;
    -fx-font: italic bold 16px "Arial";
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #81d4fa;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: #0288d1;
    -fx-font-size: 20px;
}

.scroll-pane {
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #03a9f4;
    -fx-background-radius: 1em;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}